<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bemocrm</title>
    <style>
        .lead{
            padding-top: 10px;
            padding-bottom: 10px;
            padding-left: 6px;
            padding: 6px;
            margin-top: 10px;
            background-color: rgb(199, 191, 191);
            width: 100%;
        }
    </style>
</head>
<body>
    {% block content %}

    {% endblock content %}
</body>
</html>